app-block {
  position: fixed;
  margin : 1vh;
}

app-block:first-child {
  top: 0;
  left: 0;
}

app-block:nth-child(2) {
  top: 0;
  right: 0;
}

app-block:nth-child(3) {
  bottom: 0;
  left: 0;
}

app-block:last-child {
  bottom: 0;
  right: 0;
}